.footer {
    font-size: 14px;
    line-height: 20px;
    max-width: 1088px;
    margin: 120px auto 0;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 132px;
}

.nav {
    height: 190px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 30px 0;
    gap: 30px;
}

.about {
    flex: 2 50%;
    display: flex;
    flex-direction: column;
    color: #545864;
}

.media, .support {
    flex: 1 25%;
}

.media ul, .support ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.media a, .support a {
    color: #000;
}

.title {
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
    color: #000;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0 15px;
    }

    .nav {
        flex-direction: column;
        height: unset;
    }
}